
https://www.youtube.com/watch?v=DEwJSu90j4E

<div class="testimonial" id="testimonial">
  <div class="container">
    <br><br>
    <div class="row">
      <div class="col-sm-12">
        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
          <br>
          <ol class="carousel-indicarors">
            <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-testimonials" data-slide-to="1"></li>
            <li data-target="#carousel-testimonials" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active text-center">
              <img src="../../assets/images/testimonial/1.jpg" alt="Student 1" class="center-block">
              <h2>Saroj</h2>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id illum temporibus magni quasi, quas libero esse debitis sequi.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
